<h3 class="inline">Recent Updates to the SPDG Website</h3>

<%= link_to "New", new_devlog_path %><br><br>

<% @devlogs.each do |d|%>
  <b><%= link_to nice_date(d.created_at), edit_devlog_path(d), :class => "plain"%></b><br>
  <%= d.message%><br><br>
<%end%>

<%= will_paginate @questions %>
