/*.container {
	padding-left: 40px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
}*/

body {

}

body a, a:visited{
	text-decoration: none;
}

body a:hover{
	text-decoration: underline;
	color: blue;
}

h4{ 
	font-size: 16px;
	font-weight: bold;
}
.container{
		font-size: 14px;
		font-family:Georgia,serif;
}

.container input[type=text], input[type=password], input[type=file]{
		min-height: 16px;
		padding: 5px 5px;
		width: 160px;
}

.container input[type=text].big, input[type=password].big{
		min-height: 16px;
		padding: 5px 5px;
		width: 360px;
}


#content {
	margin-top: 10px;
	min-height: 400px;
}
.menu {
	background-image: url(../images/menu_background.png);
	background-repeat: repeat-x;
	margin-top: 99px;
}

.menu ul {

	list-style-type: none;
	min-height: 25px;
	padding: 0px;
	margin: 0;
}

.menu ul li{
	display: inline;
	height: 20px;
	padding: 5px 10px 5px 0px;
	text-align: center;
	min-width: 60px;
	font-size: 13px;
	color: white;
}

.menu ul li:hover, .menu ul li.current_tab{
	cursor: pointer;
	background-image: url(../images/menu_background_hover.png);
	background-repeat: repeat-x;
	color: black;

}

.menu ul li a{
	text-decoration: none;
	color: white;
}

.menu ul li:hover a, .menu ul li.current_tab a{
	text-decoration: none;
	color: black;
}

#logo {
	margin-top: 5px;

}
.logo-bottom {
	margin-top: 95px;
	margin-left: 33px;
	padding-left: 20px;
	position: absolute;
}

.logo-bottom a, .logo-bottom a:hover {
	font-size: 15px;
	color: #1f58a7;
	text-decoration: none;
}

.logo-top {
	padding-left: 5px;
}

.slogan-top {
	margin-top: -155px;
	margin-left: 110px;
	color: #a5b2d2;
	font-size: 22px;
	position: absolute;
}

.slogan-bottom {
	margin-top: -125px;
	margin-left: 115px;
	color: #a5b2d2;
	font-size: 22px;
	position: absolute;

}
.login {
	float: right;
	margin-top: -90px;
	padding-right: 17px;
	font-size: 12px;
}

.login input[type="text"], .login input[type="password"] {
	width: 80px;
	font-size: 11px;
	padding: 0;
}

.news_title {
	font-size: 22px;
	font-weight: bold;
}
#spacer {
	margin-top: -8px;
	height: 3px;
	background-color : #4487c9;
	margin-bottom: 20px;
}

#taskbar {
margin-top: 30px;
background-color: #dce3f3;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #000;
padding: 10px;
min-height: 85px;
}

#projects_taskbar {
	width: 18%;
/*	background-color: #dce3f3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;*/
	padding: 10px;
	min-height: 125px;
	float:right;
	font-size: 12px;
}

#projects_taskbar input {
	width: 135px;
}

#project_box{
	background: #dce3f3;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
	border: 1px solid #000;
	padding-top:10px;
}

#project_header {
	background: #dce3f3;
	padding: 0px 30px 10px 30px;
	font-size: 17px;
}

#project_header a {
	text-decoration: none;
}

#project_body {
	padding: 0px 30px 30px 30px;
	background:white;
}

#project-list {
	list-style: none;
	padding-left: 0px;
}

.admin-project-header {
	height: 20px;
	background-color: blue;
	border: 1px solid black;
}

.admin-project-body {
	padding:15px;
	border: 1px solid;
	margin-bottom: 20px;
}

#footer {
  text-align: center;
	font-size: 11px;
}

.admin_box_title {
	padding: 5px;
	background-color: #8a191b;
	text-align: center;
	color: white;
}

.admin_box_content {
	min-height: 170px;
	border: 1px solid #8a191b;
	padding: 15px;
	font-size: 13px;
	line-height: 20px;
}

.my_project_body {
	border: 2px solid #aabdd9;
	min-height: 280px;
	padding: 20px;
	padding-left: 10px;
}

.my_project_section {
	overflow: auto;
	font-size: 13px;
	padding-left: 10px;
}

.line-spaced {
	line-height: 28px;
}

.event_date {
	font-size: 10px;
	font-weight: bold;
	color: gray;
}

#add_user_form input{
	width: 180px;
}

.small_form {
	font-size: 11px;
}

.small_form input[type="text"]{
	width: 120px;
}

.small_form textarea{
	width: 290px;
	height: 70px;
}

.small_red {
	color: red;
	font-size: 10px;
}

.contact_float {
	height: 150px;
	float:left;
	width: 30%;
	margin-right: 10px;
	margin-bottom: 20px;
}
.contact{
	height: 150px;
		margin-bottom: 20px;
}

.survey_box { 
	margin-bottom: 10px;
	padding: 15px;
}
.complete {
	background-color: #CFC;
	border: 2px solid #54c06e;
}

.incomplete {
	border: 2px solid #c55d7d;
	background-color: #f8b7cb;
}

#survey_form {
	
}
#survey_form input, textarea, select{
	font-size: 13px;
}
#survey_form input[type="text"].name{
	width: 400px;
}
#survey_form input[type="text"].date{
	width: 200px;
}

.completion_bar {
	margin: 5px 0 5px 0;
	min-width: 22px;
	background-color: #cecdcd;
	width: 200px;
}

.green {
	color: #54c06e;
	font-weight: bold;
}

.red {
	color: #c55d7d;
	font-weight: bold;
}

.alert_red {
	color: red;
}

#answer {
	padding-left: 20px;
}

.pagination .current{
	background-color: blue;
	color: white;
	padding-left: 3px;
	padding-right: 3px;
}

#header-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.resource-list{
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

.public-resource-list{
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}

.resource-list li, .public-resource-list li{
	margin-bottom: 10px;
}

.smaller {
	font-size: 12px;
}


.subtext {
	margin-left: 24px;
}

.subtext-admin {
	margin-left: 92px;
}

.add_resource_form, .add_resource_link {
	margin-left: 20px;
}

.resource-header, .resource-handle {
	cursor: move;
}

#add_goal_form {
	display: none;
}
/********************* Project Tabs ***********************/

#projects_tabs {
}

#project_tabs ul{
		list-style-type: none;
		padding: 0px;
		margin: 0;
}

#project_tabs ul li {
	background-image:url(../images/project-tabs/styleOp_s_back.gif);
	background-repeat:repeat-x;
	float:left;
	cursor:pointer;
	display: block;
	text-align: center;
	font-size: 13px;
	color: white;
}

#project_tabs ul li a{
	text-decoration: none;
	color: white;
}

#project_tabs ul li.selected a{
	text-decoration: none;
	color: black;
}

#project_tabs ul li .left-tab-border{
	height: 33px;
	width:9px;
	float:left;
	background-color:#FFFFFF;
	background-image:url(../images/project-tabs/styleOp_s_left.gif);
}

#project_tabs ul li .right-tab-border{
	height: 33px;
	width:9px;
	float:right;
	background-color:#FFFFFF;
	background-image:url(../images/project-tabs/styleOp_s_right.gif);
}

#project_tabs ul li .tab-content{
	min-width:113px;
	float: left;
	text-align: center;
	padding-top: 13px;
}

#project_tabs ul li.selected {
	background-color:#FFFFFF;
	background-image:url(../images/project-tabs/styleOp_n_back.gif);
	background-repeat:repeat-x;
	float:left;
	cursor:pointer;
	display: block;
	text-align: center;
	font-size: 13px;
	color: black;
}

#project_tabs ul li.selected .left-tab-border{
	height: 33px;
	width:7px;
	float:left;
	background-color:#FFFFFF;
	background-image:url(../images/project-tabs/styleOp_n_left.gif);
}

#project_tabs ul li.selected .right-tab-border{
	height: 33px;
	width:7px;
	float:right;
	background-color:#FFFFFF;
	background-image:url(../images/project-tabs/styleOp_n_right.gif);
}

#project_tabs ul li.selected .tab-content{
	min-width:113px;
	float: left;
	text-align: center;
	padding-top: 13px;
}

select{
	font-size: 12px;
	padding: 2px;
}

textarea{ 
	padding: 5px;
	}
	
tr:hover {
	background-color: #d4e0ef;
}
/**********************************************************************************************************************/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
	padding: 1px 5px 5px 30px;
	background: url('/images/icons/accept.png') no-repeat 3px 3px;
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
	padding: 1px 5px 5px 30px;
	background: url('/images/icons/exclamation.png') no-repeat 3px 3px;
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}


.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea{
	border: 1px solid red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.left {
	float: left;
}

.right {
	float:right;
}