/*.container {
	padding-left: 40px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
}*/

body {

}
.container{
		font-size: 14px;
		font-family:Georgia,serif;
}

.container input[type=text], input[type=password]{
		min-height: 16px;
		padding: 5px 5px;
		width: 160px;
}

.container input[type=text].big, input[type=password].big{
		min-height: 16px;
		padding: 5px 5px;
		width: 360px;
}


#content {
	margin-top: 20px;
	min-height: 400px;
}
.menu {
	background-image: url(../images/menu_background.png);
	background-repeat: repeat-x;
	margin-top: 99px;
}

.menu ul {

	list-style-type: none;
	min-height: 25px;
	padding: 0px;
	margin: 0;
}

.menu ul li{
	display: inline;
	height: 20px;
	padding: 5px 10px 5px 0px;
	text-align: center;
	min-width: 60px;
	font-size: 13px;
	color: white;
}

.menu ul li:hover, .menu ul li.current_tab{
	cursor: pointer;
	background-image: url(../images/menu_background_hover.png);
	background-repeat: repeat-x;
	color: black;

}

.menu ul li a{
	text-decoration: none;
	color: white;
}

.menu ul li:hover a, .menu ul li.current_tab a{
	text-decoration: none;
	color: black;
}

#logo {
	margin-top: 7px;

}
.logo-bottom {
	margin-top: -30px;
	margin-left: 2px;
	padding-left: 20px;
}

.logo-top {
	padding-left: 20px;
}

.slogan-top {
	margin-top: -165px;
	margin-left: 110px;
	color: #a5b2d2;
	font-size: 22px;
	position: absolute;
}

.slogan-bottom {
	margin-top: -135px;
	margin-left: 115px;
	color: #a5b2d2;
	font-size: 22px;
	position: absolute;

}
.login {
	float: right;
	margin-top: -90px;
	padding-right: 17px;
	font-size: 12px;
}

.login input[type="text"], .login input[type="password"] {
	width: 80px;
	font-size: 11px;
	padding: 0;
}

.news_title {
	font-size: 22px;
	font-weight: bold;
}
#spacer {
	margin-top: -8px;
	height: 3px;
	background-color : #4487c9;
	margin-bottom: 20px;
}

#taskbar {
margin-top: 30px;
background-color: #dce3f3;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #000;
padding: 10px;
}

#project_box{
	background: #dce3f3;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
	border: 1px solid #000;
	padding-top:10px;
}

#project_header {
	background: #dce3f3;
	padding: 0px 30px 10px 30px;
	font-size: 17px;
}

#project_header a {
	text-decoration: none;
}

#project_body {
	padding: 0px 30px 0 30px;
	background:white;
}

#footer {
  text-align: center;
	font-size: 11px;
}

.admin_box_title {
	padding: 5px;
	background-color: #8a191b;
	text-align: center;
	color: white;
}

.admin_box_content {
	min-height: 170px;
	border: 1px solid #8a191b;
	padding: 15px;
	font-size: 13px;
	line-height: 20px;
}
/**********************************************************************************************************************/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
	padding: 1px 5px 5px 30px;
	background: url('/images/icons/accept.png') no-repeat 3px 3px;
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
	padding: 1px 5px 5px 30px;
	background: url('/images/icons/exclamation.png') no-repeat 3px 3px;
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}


.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.left {
	float: left;
}

.right {
	float:right;
}