.lower_tag_link {
/*	display: inline;*/
	float: left;
	cursor: pointer;
	background: #d9e4ea;
	color: black;
  padding: 2px 5px 2px 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	border: 1px solid black;
}

.tag_selected {
	background: #307da9;
	color: white;
}

.tagMatches {
		position: absolute;
		display:block;
    margin-right: 4px;
		width: 300px;
    cursor: pointer;
		background: #f1f3f1;
		border-left: 1px solid;
		border-right: 1px solid;
}

.tag_menu_top {
	border-top: 1px solid;
}

.tag_menu_bottom {
	border-bottom: 1px solid;
}

._tag_suggestion {
			display:block;
			padding: 2px 10px 2px 10px;
}
._tag_suggestion:hover {
		background-color: white;
}

#lower_tags {
	margin-top: 15px;
/*	line-height: 32px;*/
}

#show_hide_tags {
	cursor: pointer;
	padding-bottom: 5px;
	border-bottom: 1px solid #d9e4ea;
	font-size: 13px;
	color: blue;
}