<h3>Please enter a new password for your account.</h3><br>

<% form_tag url_for(:action => "reset_password") do %>
    Password:<br />
    <%= password_field_tag :password %><br /><br>
    Confirm Password:<br />
    <%= password_field_tag :password_confirmation %><br /><br>
    <%= submit_tag "Change Your Password" %>
<% end %>