<div class="news_title">SPDG Live Help Chat</div ><br>
  
<p> If you need some assistance with using the SPDG Kansas site, feel free to click the link below to start a chat session with one of our developers. The status message should give you an indication of our availability. If we don't get to you right away, please be patient and keep the window open, as someone will answer you as soon as possible. If you want to send us a message directly, feel free to use our <%=link_to "online help form", help_form_path, :popup => ['new_window_name', 'height=650,width=500']%>. Thank you for your input. </p>

<br>

<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqaq9ogbsfdass0eov2kl6dbuahiphgv1acu4sjvmhci76lb8ccg53qh9anfjads4j31tntgon0ao3ihlqjot376hgfrfhi6p3p9m2o83m0ij3f8kl4k5cncijnntitsreeaameft3rcglc6evdb0cv43q3ufks8bi8ro9ng4qt9crkqpm3cpvaoa98s&amp;w=200&amp;h=60" allowtransparency="true" frameborder="0" height="60" width="200"></iframe>