<h1>Password Retrieval</h1><br>

<%= form_tag '/send_password_link' do %>
    Please enter the email address on your account:<br />
    <%= text_field_tag :email, "", :size => 30 %><br /><br />
    <%= submit_tag 'Request Password' %>
<% end %>