<div class="news_title">Projects in SPDG Kansas </div> <br><br>

<div class="span-20">
    <%@projects.each do |p|%>
        <div id="project_box">
            <div id="project_header">
                <b><%= link_to p.name, p.website, :target => "new"%></b>
            </div>
            <div id="project_body">
                <br>
                <%= render :partial => 'public_project_info', :locals => {:p => p}%>
                            <br>
            </div>

        </div>    
        <br>
    <%end%>
    
    
</div>
